#collection-log-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.collection-log-panel {
    position: relative;
    width: 178px;
    height: 100px;
    transform-origin: top center;
}

.collection-log-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 178px;
    height: 100px;
    background-image: url('background.png');
    background-size: 100% 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    z-index: 1;
}

.collection-log-text {
    text-shadow: 1px 1px 0 #000;
    text-align: center;
    line-height: 1;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-size: 16px;
}

.collection-log-text-top {
    font-family: 'RuneScape Bold 12', sans-serif;
    color: #ff981f;
    top: 10px;
}

.collection-log-text-mid {
    font-family: 'RuneScape Plain 11', sans-serif;
    color: #ff981f;
    top: 40px;
}

.collection-log-text-bottom {
    font-family: 'RuneScape Plain 11', sans-serif;
    color: #ffffff;
    top: 64px;
}

/* Control styling */
.collection-log-input {
    width: 200px;
    padding: 3px 5px;
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
    border-radius: 3px;
    font-family: 'RuneScape UF', sans-serif;
    font-size: 14px;
}

.collection-log-color-input {
    width: 40px;
    height: 28px;
    padding: 0;
    border: 1px solid #666;
    border-radius: 3px;
    background: none;
    cursor: pointer;
}
